//----- Variables / Breakpoints (set to project specific values)

// Mobile
$mobile: 767px;
$overPhone: $mobile + 1;
$small-desktop: 1024px;
$bigger-desktop: 1280px;
$desktop: 1440px;

// vw

// Max & min width
$max: max-width;
$min: min-width;

//----- Breakpoints
$breakpoints: (
  "phone": "(#{$max}: #{$mobile})",
  "tablet": "(#{$min}: #{$overPhone})",
  "small-desktop": "(#{$min}: #{$small-desktop})",
  "bigger-desktop": "(#{$min}: #{$bigger-desktop})",
  "desktop": "(#{$min}: #{$desktop})"
);

//----- Mixin / Breakpoints

@mixin breakpoint($name, $push: false) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media all and #{map-get($breakpoints, $name)} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  // But $push is defined
  @else if $push != false {
    // Add the new breakpoint to the map
    $breakpoints: map-merge(
      $breakpoints,
      (
        $name: $push
      )
    ) !global;
    // And re-call the mixin normally
    @include breakpoint($name) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  // And there is no push
  @else {
    // Just warn the user
    @warn unquote("\"Couldn't find a breakpoint named \"#{$name}\" !!!\"");
  }
}

.fill {
  fill: #ccaa60;
}
.nav {
  border-bottom: 1px solid white;
  @include breakpoint(tablet) {
    border-bottom: none;
  }
  &-logo {
    border-bottom: none;
    @include breakpoint(tablet) {
      border-bottom: 1px solid white;
    }
  }
  a {
    color: white;
  }
}
.wrapper {
  max-width: 1400px;
  margin: auto !important;
}
.banner {
  &-text{
    &--desc{
      color: #ccaa60;
    }
  }
  &-image {
    height: 700px;
    @include breakpoint(tablet) {
      height: 900px;
    }
  }
}
.card{
}
