@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url('../../public/assets/fonts/CormorantGaramond-Regular.ttf'); /* IE9 Compat Modes */
  }
  $fontDefault: 'Cormorant Garamond', normal;